* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    /* Fundo sólido cinza muito escuro como na imagem */
    background-color: #161616;
    color: #888888;
}

/* LADO ESQUERDO */
#clock {
    padding-left: 15px;
    padding-right: 5px;
    color: #bbbbbb;
}

#custom-sep {
    color: #444444;
    padding: 0 5px;
}

/* WORKSPACES: Números discretos e o verde 'moss' para a ativa */
#workspaces button {
    color: #333333;
    padding: 0 8px;
}

#workspaces button.active {
    color: #a3be8c; /* O verde exato da tua imagem */
}

#workspaces button.urgent {
    color: #bf616a;
}

/* LADO DIREITO: Ícones e Tray */
#network,
#pulseaudio,
#battery,
#tray {
    padding: 0 6px;
    color: #666666;
}

#custom-power {
    padding-right: 15px;
    padding-left: 5px;
    color: #5e4d4d; /* Vermelho muito escuro e desbotado */
}

/* Ajuste de opacidade para o Tray para não brilhar demasiado */
#tray {
    margin-right: 10px;
}

#tray menu {
    background: #161616;
    color: #eeeeee;
}
